<ul class="list">
  <li class="item-border" *ngFor="let subCategory of subCategories">
    <div class="expander-inner category" *ngIf="subCategory.subCategories.length > 0; else nosubCategories">
      <div class="expander-header" [id]="'heading' + subCategory.id">
        <div class="item btn-item">
          <div class="inner-cont">
            <span class="btn arrow collapsed" [attr.data-target]="'#collapse' + subCategory.id" data-toggle="collapse"
              aria-expanded="false">{{ subCategory.name }}</span>
          </div>
          <div class="more d-flex">
            <span class="icon-hover" data-toggle="tooltip" data-placement="top" title="New subcategory">
              <i class="icon-plus-circle" [attr.data-target]="'#addSubCategoryModal'+subCategory.id" data-toggle="modal"></i>
            </span>
            <div class="dropdown">
              <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fal fa-ellipsis-v"></i>
              </span>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" [attr.data-target]="'#editSubCategoryModal'+subCategory.id" data-toggle="modal" (click)="onEditClick(subCategory.id)">Edit</a>
                <a class="dropdown-item" href="#" [attr.data-target]="'#deleteModal'+subCategory.id" data-toggle="modal">Delete</a>
              </div>
            </div>
        </div>

        </div>
      </div>
    </div>
    <ng-template #nosubCategories>
  <div class="expander-header" [id]="'heading' + subCategory.id">
     <div class="item btn-item">
      <div class="inner-cont">
        <a class="dropdown-item" href="#" data-target="#editCategoryModal" data-toggle="collapse">{{subCategory.name}}</a>
     </div>
     <div class="more d-flex">
      <span class="icon-hover" data-toggle="tooltip" data-placement="top" title="New subcategory">
        <i class="icon-plus-circle" [attr.data-target]="'#addSubCategoryModal'+subCategory.id" data-toggle="modal"></i>
      </span>
      <div class="dropdown">
        <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fal fa-ellipsis-v"></i>
        </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" [attr.data-target]="'#editSubCategoryModal'+subCategory.id" data-toggle="modal" (click)="onEditClick(subCategory.id)">Edit</a>
          <a class="dropdown-item" href="#" [attr.data-target]="'#deleteModal'+subCategory.id" data-toggle="modal">Delete</a>
        </div>
      </div>
  </div>
    </div>
  </div>

    </ng-template>


    <!-- <ng-container *ngIf="subCategory.subCategories && subCategory.subCategories.length > 0"> -->
    <div [id]="'collapse'+subCategory.id" class="collapse" [attr.aria-labelledby]="'heading'+ subCategory.id">
      <app-recursive [subCategories]="subCategory.subCategories" ></app-recursive>
    </div>

  </li>
</ul>

<!--Delete Modal -->
<div class="modal fade" [id]="'deleteModal'+subCategory.id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true" *ngFor="let subCategory of subCategories;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete this category?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p >The category contains {{subCategory.name}} products.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onDelete(subCategory.id)" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>


<!-- add SubCategory modal -->
<div [id]="'addSubCategoryModal'+subCategory.id" class="modal fade right add-Subcategory-modal" tabindex="-1" *ngFor="let subCategory of subCategories;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header left-icon-tab">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="icon-close"></i>
        </button>
        <ul class="modal-tab nav-tabs">
          <li class="tab-item active">
            <a href="#newCategory" data-toggle="tab"> New subcategory </a>
          </li>
        </ul>
      </div>
    <form [formGroup]="subCategoryForm" (ngSubmit)="onSubCategoriesSubmit(subCategory.id)" >
      <div class="modal-body tab-content">
        <div class="tab-pane active" id="newSubCategory">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="name" placeholder="Add Sub-Category" />
          </div>

          <div class="accordion expander tab-content" id="accordionExample">
            <div class="expander-inner">
              <div class="expander-header" id="headingDescription">
                <button type="button" class="btn" data-toggle="collapse"
                  data-target="#description">DESCRIPTION</button>
              </div>
              <div id="description" class="collapse" aria-labelledby="headingDescription"
                data-parent="#accordionExample">
                  <div class="form-group">
                    <label class="brand-secondary mb-0">Short text</label>
                    <p class="p-extra-small gray-darker mb-2">Short text is displayed under the category heading in a
                      site catalog</p>

                    <textarea class="form-control" formControlName="shortText"
                      rows="3">The world's preeminent Pure Therapeutic Ketones made naturally.
                    </textarea>
                  </div>

                  <div class="form-group">
                    <label class="brand-secondary mb-0">Long text</label>
                    <p class="p-extra-small gray-darker mb-2">Long text is displayed in the product catalog as a
                      separate section after the title and short text</p>
                    <textarea class="form-control" formControlName="longText" rows="6"></textarea>
                  </div>

                  <div class="form-group">
                    <label class="brand-secondary mb-0">Media</label>
                    <div class="dragbox-outer">

                      <div class="dragBox">
                        <p class="drag-icon"></p>
                        <p class="drag-text p-medium-bold gray-dark">Drop files or click to select</p>
                        <input type="file" onchange="dragNdrop(event)" ondragover="drag()" ondrop="drop()" id="uploadFile" class="uploadFile">
                      </div>

                      <label class="upload">
                        <input type="file" class="upload-default" onchange="dragNdrop(event)" />
                        <span class="upload-custom add-form-file"> Add from Files </span>
                      </label>

                      <label class="upload">
                        <input type="file" class="upload-default" onchange="dragNdrop(event)" />
                        <span class="upload-custom add-from-computer"> Add from Computer </span>
                      </label>
                      <div id="preview">
                        <div class="preview">
                          <div class="preview-file-details">
                            <img src="assets/images/avatar.png" class="preview-img" alt="" />
                            <span class="preview-text">avatar.png</span>
                            <span class="preview-size">2.5Mb</span>
                          </div>
                          <span class="preview-close">
                            <i class="fal fa-times"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="expander-inner form-group">

                <div  aria-labelledby="headingSubcategories" data-parent="#accordionExample">
                  <h5 _ngcontent-tar-c56="" class="brand-secondary pt-3 mb-3 font-weight-bold">Subcategories</h5>
                  <p class="p-extra-small gray-darker mb-2">Enter subcategories separated by a line break. Use TAB
                    button on your keyboard to add another nesting level.</p>
                  <textarea class="form-control p-small" rows="6" formControlName="subCategories"></textarea>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="bottom-bar">
          <div class="bottom-bar-left">
            <button class="btn btn-brand" type="submit">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
     </form>
    </div>
  </div>
</div>
<!-- END of sub-category-modal -->


<!-- edit SubCategory modal -->
<div [id]="'editSubCategoryModal'+subCategory.id" class="modal fade right add-Subcategory-modal" tabindex="-1" *ngFor="let subCategory of subCategories;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header left-icon-tab">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="icon-close"></i>
        </button>
        <ul class="modal-tab nav-tabs">
          <li class="tab-item active">
            <a href="#newCategory" data-toggle="tab"> Edit subcategory </a>
          </li>
        </ul>
      </div>
    <form [formGroup]="subCategoryForm" (ngSubmit)="onCategoriesUpdate(subCategoryForm.value)" >
      <div class="modal-body tab-content">
        <div class="tab-pane active" id="newSubCategory">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="name" placeholder="Add Sub-Category" />
          </div>

          <div class="accordion expander tab-content" id="accordionExample">
            <div class="expander-inner">
              <div class="expander-header" id="headingDescription">
                <button type="button" class="btn" data-toggle="collapse"
                  data-target="#description">DESCRIPTION</button>
              </div>
              <div id="description" class="collapse" aria-labelledby="headingDescription"
                data-parent="#accordionExample">
                  <div class="form-group">
                    <label class="brand-secondary mb-0">Short text</label>
                    <p class="p-extra-small gray-darker mb-2">Short text is displayed under the category heading in a
                      site catalog</p>

                    <textarea class="form-control" formControlName="shortText"
                      rows="3">The world's preeminent Pure Therapeutic Ketones made naturally.
                    </textarea>
                  </div>

                  <div class="form-group">
                    <label class="brand-secondary mb-0">Long text</label>
                    <p class="p-extra-small gray-darker mb-2">Long text is displayed in the product catalog as a
                      separate section after the title and short text</p>
                    <textarea class="form-control" formControlName="longText" rows="6"></textarea>
                  </div>

                  <div class="form-group">
                    <label class="brand-secondary mb-0">Media</label>
                    <div class="dragbox-outer">

                      <div class="dragBox">
                        <p class="drag-icon"></p>
                        <p class="drag-text p-medium-bold gray-dark">Drop files or click to select</p>
                        <input type="file" onchange="dragNdrop(event)" ondragover="drag()" ondrop="drop()" id="uploadFile" class="uploadFile">
                      </div>

                      <label class="upload">
                        <input type="file" class="upload-default" onchange="dragNdrop(event)" />
                        <span class="upload-custom add-form-file"> Add from Files </span>
                      </label>

                      <label class="upload">
                        <input type="file" class="upload-default" onchange="dragNdrop(event)" />
                        <span class="upload-custom add-from-computer"> Add from Computer </span>
                      </label>
                      <div id="preview">
                        <div class="preview">
                          <div class="preview-file-details">
                            <img src="assets/images/avatar.png" class="preview-img" alt="" />
                            <span class="preview-text">avatar.png</span>
                            <span class="preview-size">2.5Mb</span>
                          </div>
                          <span class="preview-close">
                            <i class="fal fa-times"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="expander-inner form-group">
                <div  aria-labelledby="headingSubcategories" data-parent="#accordionExample">
                  <h5 _ngcontent-tar-c56="" class="brand-secondary pt-3 mb-3 font-weight-bold">Subcategories</h5>
                  <p class="p-extra-small gray-darker mb-2">Enter subcategories separated by a line break. Use TAB
                    button on your keyboard to add another nesting level.</p>
                  <textarea class="form-control p-small" rows="6" formControlName="subCategories"></textarea>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="bottom-bar">
          <div class="bottom-bar-left">
            <button class="btn btn-brand" type="submit">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
     </form>
    </div>
  </div>
</div>
<!-- END of edit-sub-category-modal -->
