<div class="cms-body-sidenav">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/collections/categories" routerLinkActive="active">Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/collections/attributes" routerLinkActive="active">Attributes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="files.html">Files</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Formula</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tags.html">Tags</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Metadata</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="text-snippets.html">Text snippets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="selling-channels.html">Selling channels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Taxes & fees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="teams.html">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="FAQ.html">FAQ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="reviews.html">Reviews</a>
    </li>
  </ul>
</div>
