.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 20px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 20px;
}



/* .category .expander-list span{

  font-weight: bold;
} */


/* .mat-tree-node[matTreeNodePadding] {
  font-weight: bold;
} */
.category .mat-tree-node{
  font-weight: bold;
}

.btn-add {
  width: 24px;
  height: 24px;
  padding: 24px;
  font-size: 25px;
  background: #0057f9;
  color: #ffffff;
  border-radius: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*
.category .list.expander-list > span {
  font-weight: bold;
} */

/* .parent {
  font-weight: bold;
} */

/* .category .list.expander-list > span:not(.child) {
  font-weight: bold;
} */


/* .parent-node {
  position: relative;
}

.parent-node .more {
  position: absolute;
  right: 30px;
  top: 0;
  z-index: 1;
} */

.delete-button {
  margin-left: auto;
  visibility: hidden;
  color: rgba(215, 0, 0, 0.992);
}

.parent-node:hover .delete-button {
  visibility: visible;
}
