<app-sidebar></app-sidebar>

<div class="pruvit-cms">


  <aside class="cms-body">
    <header class="cms-body-header">
      <div class="inner">
        <h1 class="cms-body-heading jumbo-small">Collection</h1>
        <div class="cms-search">
          <i class="icon-search cms-search-icon"></i>
          <input type="email" class="form-control cms-search-input" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Search" />
        </div>
      </div>
    </header>
    <!-- END of cms-body-header -->

    <section class="cms-body-inner">
      <article class="container-fluid">
        <figure class="row">
          <app-collection-sidebar></app-collection-sidebar>
          <!-- END of cms-body-sidenav -->

          <div class="cms-body-content col-12">
            <div class="cms-have-nocontent" style="display: none">
              <svg width="71" height="51" viewBox="0 0 71 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.8327 2.1665H68.8327M18.8327 25.4998H68.8327M18.8327 48.8332H68.8327M2.16602 2.1665H2.19935M2.16602 25.4998H2.19935M2.16602 48.8332H2.19935"
                  stroke="#8F8F8F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

              <p>No categories added</p>
            </div>
            <div class="cms-body-inner-content accordion expander" id="accordionOne">
              <mat-tree [dataSource]="categoryItems" [treeControl]="treeControl" class="example-tree">

                <mat-tree-node *matTreeNodeDef="let cat" matTreeNodeToggle>
                  <span class="btn arrow collapsed" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"> {{cat.name}}</span>
                </mat-tree-node>

                <mat-nested-tree-node *matTreeNodeDef="let cat; when: hasChild">
                    <div class="mat-tree-node">
                      <button mat-icon-button matTreeNodeToggle
                              [attr.aria-label]="'Toggle ' + cat.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(cat) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </button>
                      {{cat.name}}
                    </div>
                    <div [class.example-tree-invisible]="!treeControl.isExpanded(cat)"
                        role="group">
                      <ng-container matTreeNodeOutlet></ng-container>
                  </div>
                </mat-nested-tree-node>

              </mat-tree>
            </div>


               <!-- <div class="expander-inner category" *ngFor="let categories of subCategoryItems">
                <div class="expander-header" id="headingFour">
                  <div class="item btn-item">
                    <div class="inner-cont">
                      <span class="btn arrow collapsed" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">{{categories.name}}</span>
                    </div>
                    <div class="more d-flex">
                      <div class="icon-hover" data-toggle="tooltip" data-placement="top" title="New subcategory">
                        <a class="icon-plus-circle fs20" data-target="#addCategoryModal" data-toggle="modal"></a>
                      </div>
                      <div class="dropdown">
                        <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <i class="fal fa-ellipsis-v"></i>
                        </span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#" data-target="#editCategoryModal"
                            data-toggle="modal">Edit</a>
                          <a class="dropdown-item" href="#" data-target="#deleteModal"
                            data-toggle="modal">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="collapseExample" class="collapse show" aria-labelledby="headingFour"
                  *ngIf="isCollapsed">
                  <div class="expander-body">
                    <ul class="list" *ngFor="let categories of subCategoryItems">
                      <li class="item" >
                        <div class="inner-cont" >
                          <a class="dropdown-item" href="#" data-target="#editCategoryModal" data-toggle="modal">{{categories.subCategories.name}}</a>
                        </div>
                        <div class="more d-flex">
                          <span class="icon-hover" data-toggle="tooltip" data-placement="top" title="New subcategory">
                            <i class="icon-plus-circle" data-target="#addCategoryModal" data-toggle="modal"></i>
                          </span>
                          <div class="dropdown">
                            <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              <i class="fal fa-ellipsis-v"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#" data-target="#editCategoryModal"
                                data-toggle="modal">Edit</a>
                              <a class="dropdown-item" href="#" data-target="#deleteModal"
                                data-toggle="modal">Delete</a>
                            </div>
                          </div>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
        </div> -->
        <!-- END of category, expander-inner -->


            <!-- END of cms-body-inner-content, expander -->

            <!-- <div class="alert-wrap">
              <div class="alert category-create">
                <div class="alert-message p-small">Categories have been created</div>
                <div class="alert-close">Undo</div>
              </div>
            </div> -->

          <!-- </div> -->
           </div>
          <!-- END of cms-body-content -->
         </figure>
       </article>
    </section>
    <!-- END of cms-body-inner -->
  </aside>
  <!-- END of cms-body -->

  <button type="button" class="btn btn-add cms-add-btn add-category"></button>
  <!-- END of cms-add-btn -->

  <div class="hide-search hidden"></div>

  <form class="search-input">
    <div class="form-group floating">
      <span class="floating-icon">
        <i class="icon-expand-screen"></i>
      </span>
      <input type="text" class="form-control category" placeholder="New category" />
    </div>
  </form>
  <!-- END of search-input -->
</div>
<!-- END of pruvit-cms -->
